@import '~antd/dist/antd.css';
.active {
    color: pink;
}
.main{
    overflow: auto;
}

.main .ant-form {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding: 10px;
}